:host
{
  display: flex;
  flex-direction: column;
}

:host > :not(#product-table)
{
  flex: none;
}

#product-table
{
  flex: 1;
  overflow-y: auto;
}

#product-list-header,
nav
{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5em;
}

[aria-sort='ascending'] button > :not(:first-child),
[aria-sort='descending'] button > :not(:nth-child(2)),
[aria-sort=''] button > :not(:last-child)
{
  display: none;
}